.scrollImage {
  width: 100%;
}

.image {
  width: inherit;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: block;
  margin: 0 auto;
}
.home-image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.event-slider {
  position: absolute;
  top: 1000px;
  width: 100%;
  overflow: hidden;
}

.event-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 100px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  width: 40px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 
.event-type {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
}


.event-section-header {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.event-speaker {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
}


.event-date,
.event-location,
.event-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
}

.event-description {
  line-height: 1.6;
}

/* Purchase Ticket Button */
.purchase-ticket-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
  margin: 20px 0;
}
