.scrollImage {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 20px;
}

.image {
  width: 80%;
  height: 100%;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
