.dashboard-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.welcome-header {
  font-size: 40px;
  font-weight: bolder;
  text-align: left;
  width: 100%;
}

.events-section,
.campaigns-section {
  margin-top: 20px;
}

.section-header {
  font-size: 20px;
  font-weight: bold;
}

.events-table,
.campaigns-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.events-table th,
.events-table td,
.campaigns-table th,
.campaigns-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.events-table th,
.campaigns-table th {
  background-color: #f0f0f0;
}

.event-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.campaigns-section {
  margin-top: 30px;
}

.calendar-section {
  width: 100%; /* Make sure the calendar section is responsive */
  overflow-x: auto; /* Allow horizontal scroll if needed */
}

.react-big-calendar {
  width: 100% !important; /* Make sure the calendar spans the full width */
}

.rbc-btn-group button {
  font-size: 12px; /* Make the text smaller */
  padding: 5px 10px; /* Reduce padding for smaller buttons */
  margin: 2px; /* Optional: add a little spacing between buttons */
  border-radius: 3px; /* Optional: add rounded corners */
  width: 70px;
}

.event-popup {
  max-width: 300px;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
