.ticketsPage{
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .tickets-label {
    margin: 20px;
    font-weight: bold;
    color: #555;
  }
  
  input,
  textarea,
  button {
    width: 90%;
    padding: 12px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
  }
  
  .tickets-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .tickets-button:hover {
    background-color: darkred;
  }
  
  .tickets-button:active {
    background-color: darkred;
  }
  
  
  .tickets-button:focus {
    outline: none;
  }
  @media (max-width: 600px) {
    .createEvent {
      padding: 20px;
    }
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 8px;
  }
  
  
  