/* Style for the body and html */
html,
body {
  min-height: 100vh; /* Ensure full viewport height */
  height: 100%; /* Keep this for flexbox context */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Wrapper for the entire app */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes up the full viewport height */
  margin: 0;
  padding: 0;
}

/* Wrapper for the page content */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes up the full viewport height */
  margin: 0;
  padding: 0;
}

/* Main content area */
.main-content {
  flex: 1; 
  margin: 0;
  padding: 0;
}

/* Footer */
.Footer {
  background-color: #282c34;
  padding: 10px 0;
  color: white;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: auto; /* Push to the bottom of page-container */
}

/* Remove default margins from elements inside the Footer */
.Footer * {
  margin: 0;
}