
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  padding-bottom: 50px; 
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: #21a1f1;
}
