.adjust-button {

  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  background-color: red;
}

.adjust-button:hover {
  background-color: darkred;
}

