.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid lightgray;
  z-index: 3;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0px;
  scale: 0.06;
}

.pookie-bears{
  position: absolute;
  top: 15px;
  left: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}


.navbar-right ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-button {
  background-color: white;
  padding: 5px 10px;
  height: 20px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.nav-button a {
  text-decoration: none;
  color: black;
}

.sign-up {
  background-color: red;
  color: white;
  border: none;
}

.sign-up a {
  color: white;
}

.logout-button{
  text-decoration: none;
  color: black;
  background-color: white;
}